	<div class='row'>
		<div class='span8 well'>
 			<h4><%= link_to charger.name, charger_path(charger) %></h4>
 			<h4>qd_idlist</h4>
 			<p><%= charger.qd_idlist %></p>
			<p>
				<span class='quite'>Email: </span> <%= link_to charger.mail %>
			</p>
		</div>
	</div>